<div class="pagetitle">
    <h1 class="px-3"><i class="bi bi-arrow-left"></i></h1>

  </div><!-- End Page Title -->

  <section class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="row border-bottom py-2">
              <div class="d-flex align-items-center justify-content-between">
                <div><h4 class="px-2 heading-line">Chartbusters</h4>
                  <div class="d-flex align-items-baseline justify-content-between">
                 <div class="">
<span class=" date">Hangout of people who eat sleep and drink</span>
                 </div>

                  </div></div>
                <div class="upload-img"><i class="bi bi-cloud-arrow-up-fill"></i></div>
              </div>
            </div>
            <!-- Bordered Tabs Justified -->

            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
              <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                <div class="example">
                   <div class="card my-3">
                  <div class="card-body">
                    <div class="row py-3">
                      <div class="form-group">
                        <label class="form-line" for="exampleInputEmail3">External Link</label>
                        <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp" placeholder="External Link">
                      </div>
                    </div>
                    <div class="row py-3">
                      <div class="form-group">
                        <label class="form-line" for="exampleInputEmail4">Enter Description</label>
                        <input type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp" placeholder="Enter Description">
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-6 mx-auto d-flex justify-content-center">
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
              </div>

            </div><!-- End Bordered Tabs Justified -->

          </div>
        </div>

      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <div class="search-bar">
              <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>
            </div>
          <h5 class="card-title">What's happening</h5>
          <div class="py-2">
            <div class="d-flex align-items-baseline justify-content-between">
              <div class="trending-name"> Trending in India</div>
              <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                ">
                  <li class="dropdown-header">
                    <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                    <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul><!-- End Profile Dropdown Items -->
              </li></div>
            </div>
            <span class="title-name">Chahal</span>
            <div class="hashtag-line">Trending with<span class="hashtag"> #Encounter</span>,<span class="hashtag">#Prayagraj</span></div>
          </div>
          <div class="py-2">
            <div class="d-flex align-items-baseline justify-content-between">
              <div class="trending-name"> Trending in India</div>
              <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                ">
                  <li class="dropdown-header">
                    <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                    <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul><!-- End Profile Dropdown Items -->
              </li></div>
            </div>
            <span class="title-name">#JusticeForPreethi</span>
            <div class="hashtag-line">27.9k Tweets</div>
          </div>
          <div class="py-2">
            <div class="d-flex align-items-baseline justify-content-between">
              <div class="trending-name">Only on Fit-On-Face .Trending</div>
              <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                ">
                  <li class="dropdown-header">
                    <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                    <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul><!-- End Profile Dropdown Items -->
              </li></div>
            </div>
            <span class="title-name">#screenshot</span>
            <div class="hashtag-line">1,775 Tweets</div>
          </div>
          <div class="py-2">
            <div class="d-flex align-items-baseline justify-content-between">
              <div class="trending-name"> Trending in India</div>
              <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots"></i>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                ">
                  <li class="dropdown-header">
                    <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                    <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                </ul><!-- End Profile Dropdown Items -->
              </li></div>
            </div>
            <span class="title-name">#NEETPG2023</span>
            <div class="hashtag-line">8,581 Tweets</div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </section>
