<div class="pagetitle">
    <div class="d-flex justify-content-between align-items-baseline">
     <div>
       <h1 class="px-3">Home</h1>

     </div>
     <div class="py-2"><button type="button" class="btn btn-outline-secondary" (click)="AddChannel()"><i class="bi bi-pencil-square"></i></button></div>
    </div>
   </div>
  <section class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="card">
              <!-- Bordered Tabs Justified -->

              <div class="pt-2" id="borderedTabJustifiedContent">
                <div class="" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">
                 <div class="container">
                  <div class="row border-bottom py-2 px-2">
                    <div class="col-2">
                       <span class="user-icon"><i class="bi bi-person-circle"></i></span>
                    </div>
                    <div class="col-10">
                      <h4 class="px-2 heading-line">What's happening</h4>
                      <div class="d-flex align-items-baseline justify-content-between">
                     <div class="">
              <span class="px-3 select-icon"><i class="bi bi-image"></i></span><span class="px-3 select-icon"><i class="bi bi-filetype-gif"></i></span><span class="px-3 select-icon"><i class="bi bi-list-ul"></i></span><span class="px-3 select-icon"><i class="bi bi-emoji-smile"></i></span><span class="px-3 select-icon"><i class="bi bi-calendar2-event"></i></span><span class="px-3 select-icon"><i class="bi bi-geo-alt"></i></span>
                     </div>
                     <div class=""><button type="button" class="btn btn-outline-primary primary-btn">Primary</button></div>
                      </div>
                    </div>
                  </div>
                 </div>
                  <div class="example" style="height: 65vh; overflow: auto;">
                     <div class="card my-3">
                    <div class="card-body">
                      <div class=" row user_informatiom">
                        <div class="col-1">
                          <span class="user-icon"><i class="bi bi-person-circle"></i></span>
                        </div>
                        <div class="col-8 mx-3 py-2">
              <div class="user_name">User Name</div>
              <div class="detail">Sr Wealth is led by an SEBI</div>
              <div class="percent">Accuracy 57.7% Profitability -13.5%</div>
                        </div>

                      </div>

                      <div class="row">
                     <div class="d-flex justify-content-between align-items-baseline py-2">   <h6 class="heading">TRADING CHANNEL</h6>
                    <span class=" subscript"><i class="bi bi-lock-fill lock-icon"></i> Free Access</span></div>

                      </div>
                      <div class="row">
                       <div class="channel-name">
                        <i class="bi bi-lightbulb"></i>EQUITY COMPREHENSIVE
                       </div>
                       <div class="channel-detail">
                        DSSL DYNACON SYSTEM [ Update 4]
                       </div>
                       <div class="date">27 Jan 2023, 06:43 PM</div>
                      </div>
                      <div class="row expect-section my-3">
                        <div class="expect-inf d-flex justify-content-between pb-2 ">
                          <div><div class="expect">
                            Expected Move
                          </div>
                          <div class="expect-percent">18.0%</div></div>
                          <div><button type="button" class="btn btn-danger danger-btn">Idea tracker</button></div>
                        </div>
                        <div>
                          <span class="line ">IRB</span> <span class="equity-btn px-2">Equity</span>
                          <div class="row d-flex text-center py-2">
                            <div class="col-4">
                              <div class="price">Entry Price</div>
                              <div class="rate">$305.0 </div>
                            </div>
                            <div class="col-4">
                              <div class="price">Target Price</div>
                              <div class="rate">$360.0 </div>
                            </div>
                            <div class="col-4">
                              <div class="price">Stop Loss</div>
                              <div class="rate"> $265.0</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-4 months">
                          <div type="button" class=" position-btn"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="6" cy="6" r="6" fill="#ED1C24"/>
                            </svg>
                            High Risk</div>
                        </div>
                        <div class="col-8 months">
                          <div type="button" class=" position-btn"><i class="bi bi-clock px-2"></i>Positional Trading (1-3 Months)</div></div>
                      </div>
                      <div class="row">
                        <img src="https://blog.kakaocdn.net/dn/dImadm/btqvUPu05X8/zODzIrVfvdEug963norH3k/img.png" alt="">
                      </div>
                      <div class="row py-2">
                        <h6 class="dis-line">IBR Infra CMP 305 :</h6>
                        <p class="dis">Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span>  <i class="bi bi-hand-thumbs-up-fill px-2">1</i></span>
                          <span><i class="bi bi-share-fill"></i></span>
                        </div>
                        <div>
                          <i class="bi bi-bookmark-fill"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card ">
                    <div class="card-body">
                      <div class=" row user_informatiom">
                        <div class="col-1">
                          <span class="user-icon"><i class="bi bi-person-circle"></i></span>
                        </div>
                        <div class="col-8 mx-3 py-2">
              <div class="user_name">User Name</div>
              <div class="detail">Sr Wealth is led by an SEBI</div>
              <div class="percent">Accuracy 57.7% Profitability -13.5%</div>
                        </div>

                      </div>
                      <div class="row">
                     <div class="d-flex justify-content-between align-items-baseline py-2">   <h6 class="heading">TRADING CHANNEL</h6>
                    <span class=" subscript"><i class="bi bi-lock-fill lock-icon"></i> Free Access</span></div>

                      </div>
                      <div class="row">
                       <div class="channel-name d-flex justify-content-between align-items-center">
                       <span> <i class="bi bi-lightbulb"></i>Chat Barter</span> <span class=""><button type="button" class="btn follow-btn">Follow</button></span>
                       </div>
                       <div class="channel-detail">
                        DSSL DYNACON SYSTEM
                       </div>
                       <div class="date">27 Jan 2023, 06:43 PM</div>
                      </div>

                      <div class="row">
                        <img src="https://blog.kakaocdn.net/dn/dImadm/btqvUPu05X8/zODzIrVfvdEug963norH3k/img.png" alt="">
                      </div>
                      <div class="row py-2">
                        <h6 class="dis-line">IBR Infra CMP 305 :</h6>
                        <p class="dis">Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry. Lorem Ipsum has been the industry's standard dummy
                          text ever since the 1500s, when an unknown printer took a galley</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <span>  <i class="bi bi-hand-thumbs-up-fill px-2">1</i></span>
                          <span><i class="bi bi-share-fill"></i></span>
                        </div>
                        <div>
                          <i class="bi bi-bookmark-fill"></i>
                        </div>
                      </div>
                    </div>
                  </div></div>

                </div>
              </div><!-- End Bordered Tabs Justified -->

          </div>

        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-body">
              <div class="search-bar">
                <form class="search-form d-flex align-items-center" method="POST" action="#">
                  <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                  <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                </form>
              </div>
            <h5 class="card-title">What's happening</h5>
            <div class="py-2">
              <div class="d-flex align-items-baseline justify-content-between">
                <div class="trending-name"> Trending in India</div>
                <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots"></i>
                  </a><!-- End Profile Iamge Icon -->

                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                  ">
                    <li class="dropdown-header">
                      <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                      <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul><!-- End Profile Dropdown Items -->
                </li></div>
              </div>
              <span class="title-name">Chahal</span>
              <div class="hashtag-line">Trending with<span class="hashtag"> #Encounter</span>,<span class="hashtag">#Prayagraj</span></div>
            </div>
            <div class="py-2">
              <div class="d-flex align-items-baseline justify-content-between">
                <div class="trending-name"> Trending in India</div>
                <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots"></i>
                  </a><!-- End Profile Iamge Icon -->

                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                  ">
                    <li class="dropdown-header">
                      <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                      <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul><!-- End Profile Dropdown Items -->
                </li></div>
              </div>
              <span class="title-name">#JusticeForPreethi</span>
              <div class="hashtag-line">27.9k Tweets</div>
            </div>
            <div class="py-2">
              <div class="d-flex align-items-baseline justify-content-between">
                <div class="trending-name">Only on Fit-On-Face .Trending</div>
                <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots"></i>
                  </a><!-- End Profile Iamge Icon -->

                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                  ">
                    <li class="dropdown-header">
                      <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                      <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul><!-- End Profile Dropdown Items -->
                </li></div>
              </div>
              <span class="title-name">#screenshot</span>
              <div class="hashtag-line">1,775 Tweets</div>
            </div>
            <div class="py-2">
              <div class="d-flex align-items-baseline justify-content-between">
                <div class="trending-name"> Trending in India</div>
                <div class="follow-dropdown">  <li class="nav-item dropdown pe-3">

                  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots"></i>
                  </a><!-- End Profile Iamge Icon -->

                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
                  ">
                    <li class="dropdown-header">
                      <h6><i class="bi bi-emoji-frown px-2"></i>Not interested in this</h6>
                      <span><i class="bi bi-emoji-frown px-2"></i>This trend is harmful or spammy</span>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                  </ul><!-- End Profile Dropdown Items -->
                </li></div>
              </div>
              <span class="title-name">#NEETPG2023</span>
              <div class="hashtag-line">8,581 Tweets</div>
            </div>
            </div>
          </div>
        </div>

      </div>
    </section>
