h1 {
    font-size: 35px;
    text-align: center;
    color: #717ff5;
    margin: 0;
    padding: 0 0 6px 0;
    border-bottom: 1px solid rgba(0,0,0,.15);
    text-decoration: underline;
  }
  h2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    color: #F61C7A;
    margin: 0;
    padding: 20px 0 0 0;
    text-decoration: underline;
  }
  p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #03314B;
    margin: 0;
    padding: 10px 0 0 0;
  }
  